html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
}

.header-block h1{
	font-size: 4em;
    margin: 0;	
}

h3 {
	font-size: 1.8rem;
	font-weight: bold;
}

p {
	font-size: 1.3rem;
	letter-spacing: 0.02em;
}

.container{
	height: 100vh;
	padding: 30px
}

.two-columns {
	display: grid;
	grid-template-columns: 50% 50%;		
}

.two-columns * {
	justify-self: center;
	align-self: center;
}

.two-columns>div {
	width: 60%;
}

span{
	color: #EC1328
}

.red-block{
	background-color: #EC1328;
}

.red-block span{
	color: #FFFFFF;
	font-weight: bold;	
}

.white-block{
	text-align: right;}

.white-block span{
	color: #EC1328;
	font-weight: bold;
}

.white-block h1{
	grid-column-start: 1;
	grid-column-end: 3;
}

img{
	height: 80vh;
}

button{
	background: #B80415;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: solid 1px #B80415;
	border-radius: 10px;
	padding: 10px 10px;
	width: 100%;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

button:hover{
	background: #FFFFFF;
	border: solid 1px #B80415;
    color: #B80415;
}

#subscribe {
	text-align: center;
}

#subscribe input{
    width: 500px;
    display: block;
    margin: 30px auto;
    font-size: 2rem;
    padding: 20px 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#subscribe button{
    width: 20%;
    padding: 20px 0;	
}

#subscribe img{
    width: 10%;	
    height: auto;
}

#promo{
	text-align: center;	
	background-image: url("img/promo.png");
	background-size: cover;
}


#subscribe #centarl-photo{
	width: 11%;
	margin: 0 20px;
}

#scroll{
	grid-column-start: 1;
	grid-column-end: 3; 
	margin-bottom: 60px;   
}

#scroll img{
	width: 20px;
    height: auto;
}

#about img{
	opacity: 0;
	bottom: -200px;
    position: relative;
}

#explore img, #fun div{
	opacity: 0;
	left: -20%;
    position: relative;
}



#about div, #explore div{
	opacity: 0;
	right: -20%;
    position: relative;

}

div#about.seen img{
  	animation-name: fade-from-bottom;
	animation-duration:2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

div#about.seen div, div#explore.seen div{
  	animation-name: fade-from-right;
	animation-duration:2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

div#explore.seen img, div#fun.seen div{
  	animation-name: fade-from-left;
	animation-duration:2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}

/*Animation*/
@keyframes fade-from-bottom{
	from {
		opacity: 0;
		bottom: -200px;

	}
	to {
		opacity: 1;
		bottom: 0px;
	}
}

@keyframes fade-from-right {
	from {
		opacity: 0;
		right: -20%; 
	}
	to {
		opacity: 1;
		right: 0px; 		 
	}
}

@keyframes fade-from-left {
	from {
		opacity: 0;
		left: -20%; 
	}
	to {
		opacity: 1;
		left: 0px;
	}
}