/* colors:
red:#EC1328
white: #FFFFFF
*/ 

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
}

.container {
	height: 100vh;
	display: grid;
	justify-items: center;	
}

.red-block{
	background-color: #EC1328;
}

span {
	 color: #EC1328;
}

.red-block span {
	 color: white;
}

#scroll-down {
    background-color: #B80415;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;	
}

#scroll-down img{
	width: 55px; 
}

/*button design*/
.btn{
	background: #B80415;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: solid 1px #B80415;
	border-radius: 10px;
	padding: 10px 20px;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	text-decoration: none;
}

.btn:hover{
	background: #FFFFFF;
	border: solid 1px #B80415;
	color: #B80415;
}	

#subscribe {
    align-items: center;
    text-align: center;
} 

#subscribe input {
	margin-top: 20px;
	padding: 10px 20px;	
}
#subscribe .btn{
	 margin-top: 30px;
} 

#subscribe input:focus {
	outline-color:#EC1328;
}

/*Mobile design*/

@media only screen and (max-width: 600px) {
	.computer{
		display: none;
	}

	.container{
		padding: 20px;
		align-items: center;
	}
	

	#header-block {
		grid-template-columns: 100%;
		grid-template-rows: 80vh 20vh;
		text-align: center;
		align-items: flex-end;
	}	

	.phone-img{
		height: 40vh;
	}

	#about{
		grid-auto-rows: 20vh 45vh 30vh;
	}

	#fun, #explore, #settings{
		grid-auto-rows: 55vh 45vh;		
	}

	#fun img, #explore img, #settings img{
		align-self: end;		
	}

	#subscribe img {
		width: 30%;
		margin: 20px 0;
	    vertical-align: middle; 
	}
	#subscribe div img:nth-child(2) {
		width: 35%;
	}
}

/*Computer design*/
@media only screen and (min-width: 600px) {
	.mobile{
		display: none;
	}

	#header-block {
		grid-template-columns: 45% 10% 45%;
		text-align: left;
		align-items: center;
	}

	.phone-img{
		height: 70vh;
		margin: auto;
		opacity: 0;
	}

	#header-block .phone-img {
	  	animation-name: fade-from-top;
		animation-duration:2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
		position: relative;		
	}

	#scroll-down {
   		margin-top: 78vh;	
	}

	.two-columns{
		grid-auto-columns: 50% 50%;
   		align-items: center;
	}

	#about h1{
		grid-column: 1/3;
	}	

	.two-columns div  {
	  	width: 50%;
	  	grid-column: 2/3;
	}

	.two-columns.red-block div{
		grid-column: 1/2;
		grid-row: 1;	
	}
	.two-columns.red-block img{
		grid-column: 2/3;	
	}

	#subscribe input{
	    margin-top: 20px;
	    padding: 10px 20px;
	    min-width: 20vw;
	    font-size: 1.2vw;
	}	

	#subscribe img {
		width: 10%;
		margin: 20px 0; 
		vertical-align: middle; 
	}
	#subscribe div img:nth-child(2) {
		width: 11%;
	}

}

	.two-columns img, .two-columns div  {
	  	opacity: 0;	
	}

	.two-columns.seen img  {
	  	animation-name: fade-from-left;
		animation-duration:2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
		position: relative;		
	}

	.two-columns.seen div {
	  	animation-name: fade-from-right;
		animation-duration:2s;
		animation-fill-mode: forwards;
		animation-delay: 0.5s;
		position: relative;		
	}

/*Animation*/
@keyframes fade-from-top{
	from {
		opacity: 0;
		top: -200px;

	}
	to {
		opacity: 1;
		top: 0px;
	}
}

@keyframes fade-from-right {
	from {
		opacity: 0;
		right: -20%; 
	}
	to {
		opacity: 1;
		right: 0px; 		 
	}
}

@keyframes fade-from-bottom{
	from {
		opacity: 0;
		bottom: -200px;

	}
	to {
		opacity: 1;
		bottom: 0px;
	}
}

@keyframes fade-from-left {
	from {
		opacity: 0;
		left: -20%; 
	}
	to {
		opacity: 1;
		left: 0px;
	}
}